<!doctype html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>BETTER My Angular App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body ng-controller="MainCtrl">

  <div class="container">
    <button type="button" class="btn btn-lg btn-success create-btn pull-right" ng-click="startCreating();">Add new item</button>
    <div class="pull-left" kind-list></div>

      

    <div class="clearfix"></div>  
    <div color-list></div>
    <div class="form-group">
      <label>Search</label>
      <input type="text" class="form-control" ng-model="query" placeholder="Search for an Item">
    </div>

      
      
      <create-form></create-form>
    
      <!-- PRODUCE LIST -->
    <div id="produce-list">
      <h4>Produce Items</h4>
      <ul class="vegetable list-group">
        <li ng-class="{'currentEdit':isSelectedItem(pitem.id)}" ng-repeat="(id, pitem) in produce | filter:{color:currentColor.col} | filter:{kind:currentKind.k} | filter:query | orderBy:'-name':!reverse" class="single list-group-item">
        <div class="item-name-bar">
          <p class="item-name"><strong>{{pitem.name}}</strong></p>
          <button type="button" class="btn btn-info btn-sm edit-btn" ng-click="setEditedItem(pitem);startEditing();">Edit</button>
        </div>
        <div class="item-data">
          <div class="data-container-xs-height">
            <div class="data-rows-xs-height">
              <div class="data-block basics data-col-xs-height">
                <h3>Basics</h3>
                <p>Type: {{pitem.type}}<p>
                <p>Colors: {{pitem.color}}<p>
                <p>Sugars: {{pitem.sugars}}</p> 
              </div>
              
              <div class="data-block vitamins data-col-xs-height">
                <h3>Vitamins</h3>
                <p>Vitamin A: {{pitem.vitaminE}}<p>
                <p>Vitamin C: {{pitem.vitaminC}}<p>
                <p>Vitamin E: {{pitem.vitaminE}}<p>
                <p>Vitamin D: {{pitem.vitaminD}}<p>
                <p>Vitamin K: {{pitem.vitaminK}}<p>

              </div>
              
              <div class="data-block minerals data-col-xs-height">
                <h3>Minerals</h3>
                <p ng-repeat="(key, data) in pitem.minerals">{{key}}: {{data}}</p>
              </div>
            </div>
          </div>
        </div>  
          <div class="clearfix"></div>
          <edit-form></edit-form>

        </li>
      </ul>
    </div>
  </div>

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/lodash.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/firebase.js"></script>
    <script src="scripts/angularfire.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app-controllers.js"></script>
    <script src="scripts/app-directives.js"></script>



  </body>
</html>

